<html>
<head>
  <title>
    Calgary Community Portal
  </title>
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" type="text/css" href="style/nv.d3.css">
  <link rel="stylesheet" type="text/css" href="style/chosen.min.css">
  <link rel="stylesheet" type="text/css" href="style/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="community">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">

      <div class="jumbotron">
        <div class="text">
          <h1>Calgary Communities</h1>
          <h3>Grow with yours!</h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-2 col-md-offset-8 col-xs-4 col-xs-offset-4">
          <facebook></facebook>
        </div>
        <div class="col-md-2 col-xs-4">
          <twitter></twitter>
        </div>
      </div>

      <div class="clearfix"></div>

      <ul class="nav nav-tabs">
        <li ng-class="{active: tab == 'match'}"><a href="#!/match">Match</a></li>
        <li ng-class="{active: tab == 'compare'}"><a href="#!/compare/">Compare</a></li>
      </ul>

      <div ng-view></div>

    </div>

    <div class="col-md-1"></div>
  </div>

  <div class="row well footer">
    <div class="col-md-10 col-md-offset-1">
      <h4>Disclaimer</h4>
      <p>
        The data used in this web site is collected from various publicly available data sources. This is created as a project for
        my graduate program. While effort has been made to keep it accurate, no guarantee is provided about the correctness
        of the data that is displayed here.
      </p>

      <h4>Reference Data Sources</h4>
      <ol>
        <li><a href="https://data.calgary.ca/OpenData/Pages/DatasetListingAlphabetical.aspx">Calgary Open Data Catalogue</a></li>
        <li><a href="http://www.calgary.ca/cps/Pages/Statistics/Calgary-Police-statistical-reports.aspx">Calgary Police statistical reports</a></li>
        <li><a href="http://www.calgary.ca/CSPS/CNS/Pages/Research-and-strategy/Community-profiles/Community-Profiles.aspx">Calgary Community Profiles</a></li>
      </ol>

      <h4>Contact Information</h4>
      <p>
        Please visit <a href="http://smsohan.com/home/">http://smsohan.com/home/</a> to contact with me.
      </p>
    </div>
  </div>


  <script type="text/ng-template" id="compare.html">
    <div class="row profile-row">
      <div class="col-md-8">
        <form role="form">
          <div class="form-group dropdown" >
            <input type="text" class="form-control search" ng-model="community_to_add" dropdown data-dropdown-id="matching_communities" placeholder="Select a Community to Compare..."/>
            <div class="row clearfix">
              <ul id="matching_communities" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat="community in communities| filter:community_to_add">
                  <a role="menuitem" tabindex="-1" ng-click="add_community(community)" analytics-on="click" analytics-event="SearchResult">{{community}}</a></li>
              </ul>
            </div>
          </div>

          <div ng-if="communities_to_compare">

            <h3>Select Communities</h3>
            <ul class="list-inline">
              <li ng-repeat="community in communities_to_compare">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked ng-click="remove_community(community)"> {{community}}
                  </label>
                </div>
              </li>
            </ul>

          </div>

        </form>
      </div>

      <div class="col-md-4"></div>
    </div>

    <div ng-if="communities_to_compare">
      <h3>
        <span ng-if="communities_to_compare.length > 1">
          Comparing
        </span>
        {{communities_to_compare | join }}
      </h3>
      <div class="card">
        <map></map>
      </div>
      <div class="card">
        <ranks></ranks>
      </div>
      <div class="card">
        <population_comparison></population_comparison>
      </div>
      <div class="card">
        <employment_comparison></employment_comparison>
      </div>
      <div class="card">
        <income_comparison></income_comparison>
      </div>
      <div class="card">
        <ownership_comparison></ownership_comparison>
      </div>
      <div class="card">
        <crimes_comparison></crimes_comparison>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="match.html">
    <h2>Find a Community to Live</h2>
    <form role="form" ng-submit="match()">
      <div class="form-group">
        <label for="income">Yearly Household Income</label>
        <select ng-model="income" class="form-control" id="income">
          <option value="15000">Less than $30,000</option>
          <option value="45000">$30,000 - $60,000</option>
          <option value="75000">$60,000 - $90,000</option>
          <option value="105000">$90,000 - $120,000</option>
          <option value="130000">Above $120,000</option>
        </select>
      </div>

      <div class="form-group">
        <label for="preferred_community">Type of Household</label>
        <select ng-model="family_type" class="form-control" id="family_type">
          <option value="retired">Retired</option>
          <option value="adults">Adults only</option>
          <option value="children">Adults with Children</option>
        </select>
      </div>

      <div class="form-group">
        <label>Preferred City Sectors</label>
        <div class="checkbox" ng-repeat="sector in sectors">
          <label>
            <input type="checkbox" ng-model="sector.selected" class="sector" value="{{sector.name}}"> {{sector.name}}
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-primary" analytics-on="click" analytics-event="Match">Find Communities</button>
    </form>

    <div ng-if="ranked_communities">
      <h2 >Top {{ranked_communities.length}} Matching Communities</h2>

      <form role="form" ng-submit="compare()">
        <a ng-click="select_all()" class="select-all">Select All</a>

        <div class="checkbox" ng-repeat="community in ranked_communities">
          <label>
            <input type="checkbox" ng-model="community.selected" ng-change="select_community(community.community_profile.name)"> {{community.community_profile.sector()}}: {{community.community_profile.name}}
          </label>
        </div>

        <button type="submit" class="btn btn-default btn-primary" ng-disabled="compare_disabled" analytics-on="click" analytics-event="Compare">Compare</button>
      </form>
    </div>
  </script>

  <script type="text/ng-template" id="population_comparison.html">
    <h3>Population</h3>
    <div class="row">
      <div class="profile-row" ng-repeat="community_profile in community_profiles">
        <div class="col-md-2">
          {{community_profile.name}}
        </div>
        <div class="col-md-10">
          <span ng-repeat="chunck in female_chuncks(community_profile) track by $index" class="glyphicon glyphicon-user population female"></span>
          <span ng-repeat="chunck in male_chuncks(community_profile) track by $index" class="glyphicon glyphicon-user population male"></span>

          <div>
            <span class="female percent">{{community_profile.female_percentage() | number:0}}% Females</span> out of
            <strong>{{community_profile.population(2011) | number}}</strong> residents as per 2011 census
          </div>
          <div class="age-distribution">
            Age distribution:
            <span ng-class="{max: community_profile.has_max_distribution_percentage('under_20')}"> 0-19: {{community_profile.age_distribution_percentage().under_20 | number:0}}%</span>
            <span ng-class="{max: community_profile.has_max_distribution_percentage('under_65')}"> 20-64: {{community_profile.age_distribution_percentage().under_65 | number:0}}%</span>
            <span ng-class="{max: community_profile.has_max_distribution_percentage('over_65')}">65+: {{community_profile.age_distribution_percentage().over_65 | number:0}}%</span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <h3>Population Growth</h3>
    <div class="row">
      <div class="profile-row population-growth clearfix" ng-repeat="community_profile in community_profiles">
        <div class="col-md-2">
          {{community_profile.name}}
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-2">
              <span class="glyphicon" ng-class="{'glyphicon-arrow-up': community_profile.is_population_growing(), 'glyphicon-arrow-down': !community_profile.is_population_growing()}">
              </span>
              <strong class="number" ng-class="{growth: community_profile.is_population_growing(), 'negative-growth': !community_profile.is_population_growing()}">{{Math.abs(community_profile.population_growth()) | number}}</strong>
            </div>

            <div class="col-md-10">
              between 2009 &rarr; 2011
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="employment_comparison.html">
    <h3>Employment</h3>
    <div class="row">
      <div class="profile-row" ng-repeat="community_profile in community_profiles">
        <div class="col-md-2">
          {{community_profile.name}}
        </div>
        <div class="col-md-10">
          <span ng-repeat="chunck in employment_chuncks(community_profile) track by $index" class="glyphicon glyphicon-briefcase population"></span>
          <div>
            2011: {{community_profile.employment(2011) | number}}
            ({{community_profile.employment_percentage(2011) | number:0}}%)
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="income_comparison.html">
    <h3>Income</h3>
    <svg style="height: 200px;"/>
  </script>

  <script type="text/ng-template" id="crimes_comparison.html">
    <h3>Crime Reports</h3>
    <svg style="height: 200px;"/>
  </script>

  <script type="text/ng-template" id="map.html">
    <h3>Map</h3>
    <div id="map-container" class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    </div>
    <div class="clearfix"></div>
  </script>

  <script type="text/ng-template" id="ownership_comparison.html">
    <h3>Owners vs. Renters</h3>
    <div class="row">
      <div class="profile-row" ng-repeat="community_profile in community_profiles">
        <div class="col-md-2">
          {{community_profile.name}}
        </div>
        <div class="col-md-10">
          <span ng-repeat="chunk in own_chunks(community_profile) track by $index" class="glyphicon glyphicon-home"></span>
          <span ng-repeat="chunk in rent_chunks(community_profile) track by $index" class="glyphicon glyphicon-home rent"></span>
          <div>
            {{community_profile.ownership_percent() | number:0}}% Owners ({{community_profile.ownership().own | number}}/{{community_profile.ownership().total | number}})
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="ranks_comparison.html">
    <h3>
      Avenue Calgary Ranking
      <small>(<a href="http://www.avenuecalgary.com/articles/calgarys-best-neighbourhoods-2013-11-to-50">source</a>)</small>
    </h3>
    <div class="row">
      <div class="profile-row" ng-repeat="community_profile in community_profiles">
        <div class="col-md-2">
          {{community_profile.name}}
        </div>
        <div class="col-md-10 rank" ng-class="{'top-rank': community_profile.avenue_rank() <= 10}">
          {{community_profile.avenue_rank() || "Not in top 50"}}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </script>


  <script type="text/ng-template" id="facebook.html">
    <div id="fb-root"></div>
    <div class="fb-like" data-href="http://loveyyc.info/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </script>

  <script type="text/ng-template" id="twitter.html">
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
  </script>

    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=275316532534704";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular-route.js"></script>
  <script type="text/javascript">
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
  </script>

  <script type="text/javascript" src="script/underscore-min.js"></script>
  <script type="text/javascript" src="script/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="script/jquery-number.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="script/nv.d3.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4EYtmifgrDgCpmcARgSZCklgjYgN64Tc&sensor=false">
  </script>

  <script type="text/javascript" src="data/data.min.js"></script>

  <script type="text/javascript" src="script/community_profile.js"></script>
  <script type="text/javascript" src="script/user_profile.js"></script>
  <script type="text/javascript" src="script/angulartics.min.js"></script>
  <script type="text/javascript" src="script/angulartics-ga.min.js"></script>

  <script src="script/app.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49479951-1', 'loveyyc.info');
  </script>
</body>
</html>