body{
  margin: 5%;
  color: #2ecc71;
}

.heading{
  background-color: inherit;
}

.growth li{
  display: inline;
}


.growth li:nth-child(2n) .title{
  color: #2ecc71;
  font-size: 1.5em;
}

.growth li:nth-child(2n) .glyphicon{
  font-size: 0.7em;
  color: #1abc9c;
}

.growth li:nth-child(2n+1) .title{
  color: #3498db;
  font-size: 1.5em;
}

.growth li:nth-child(2n+1) .glyphicon{
  font-size: 0.7em;
  color: #3498db;
}


.growth li:nth-child(2n) .title{
  color: #2ecc71;
  font-size: 1.5em;
}

.growth li:nth-child(2n) .glyphicon{
  font-size: 0.7em;
  color: #1abc9c;
}

.growth li:nth-child(2n+1) .title{
  color: #3498db;
  font-size: 1.5em;
}

.growth li:nth-child(2n+1) .glyphicon{
  font-size: 0.7em;
  color: #3498db;
}
