.glyphicon{
  letter-spacing: 0.1em;
}

.profile-row {
  padding: 1em;
}

#map-container{
  width: 80%;
  height: 60%;
  min-height: 60%;
}

.search{
  display: block;
  box-sizing: border-box;
}

.rent {
  opacity: 0.4;
}