.glyphicon{
  letter-spacing: 0.1em;
}

.profile-row {
  padding: 1em;
}

#map-container{
  width: 80%;
  height: 60%;
  min-height: 60%;
}

.search{
  display: block;
  box-sizing: border-box;
}

.rent {
  opacity: 0.4;
}

.age-distribution .max{
  font-weight: bold;
}

.population.male{
  color: #3498db;
}

.population.female, .percent.female{
  color: hotpink;
}