body{
  font-family: 'Montserrat';
/*  background-color: #9b59b6;
  color: #ecf0f1;
*/
}

.glyphicon{
  letter-spacing: 0.1em;
}

.profile-row {
  padding: 1em;
}

#map-container{
  width: 80%;
  height: 60%;
  min-height: 60%;
}

.search{
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
}

.rent {
  opacity: 0.4;
}

.age-distribution .max{
  font-weight: bold;
}

.population.male{
  color: #3498db;
}

.population.female, .percent.female{
  color: hotpink;
}

.population-growth .number{
  font-size: 1.3em;
}
.population-growth .glyphicon-arrow-up,.population-growth .growth, .top-rank{
  color: green;
}

.population-growth .glyphicon-arrow-down,.population-growth .negative-growth{
  color: #c0392b;
}

.card{
  padding: 20px;
  margin: 30px 0;
  background-color: #fff;
}

.card h3{
  text-transform: uppercase;
}

.rank{
  font-size: 1.3em;
}

.footer{
  font-size: 0.8em;
  color: #555;
}